@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
    --background: #323C4C;

    /* the defult cell */
    --cell-hidden-light: #56667A;
    --cell-hidden-dark: #44506B;

    /* cell with flag or number */
    /* todo: change this */
    --cell-content-light: #56667A;
    --cell-content-dark: #44506B;

    /* cell with nothing (it has been reveled and has nothing in it) */
    --cell-empty-light: #6E7D90;
    --cell-empty-dark: #556484;

    /* just filler cells for the diffrent difficulties but fit to the screen */
    /* todo: change this */
    --cell-null-light: #6E7D90;
    --cell-null-dark: #556484;

    --number-1: #80b3ff;
    --number-2: #8fd18f;
    --number-3: #ff8f8f;
    --number-4: #a0a0ff;
    --number-5: #ffb3a7;
    --number-6: #7fd6d6;
    --number-7: #d38fd3;
    --number-8: #bfbfbf;
    --number-9: #e5e5e5;

    --clicked-mine: #c9525e;
    --correct-mine: #63a387;
}

html {
    height: 100%;
}

body {
    margin: 0 10px;
    padding: 0;
    height: 100%;
    background: var(--background);
    color: #ffffff;
    overflow: hidden;
}

#root {
    height: 100%;
}

.cell {
    border-width: 1px; 
    border: solid 0 1px 1px 0 #9CA3AF;
    cursor: pointer; 
}

.cell-light {
    background-color: var(--cell-hidden-light);
}
.cell-dark {
    background-color: var(--cell-hidden-dark);
}

.filler { }

.filler.cell-light {
    background-color: var(--cell-null-light);
}
.filler.cell-dark {
    background-color: var(--cell-null-dark);
}

.hidden { }