@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
    --background: #323C4C;

    /* the defult cell */
    --cell-hidden-light: #56667A;
    --cell-hidden-dark: #44506B;

    /* cell with flag or number */
    /* todo: change this */
    --cell-content-light: #56667A;
    --cell-content-dark: #44506B;

    /* cell with nothing (it has been reveled and has nothing in it) */
    --cell-empty-light: #6E7D90;
    --cell-empty-dark: #556484;

    /* just filler cells for the diffrent difficulties but fit to the screen */
    /* todo: change this */
    --cell-null-light: #6E7D90;
    --cell-null-dark: #556484;

    --number-1: #0000FF;
    --number-2: #008200;
    --number-3: #FF0000;
    --number-4: #000084;
    --number-5: #840000;
    --number-6: #008284;
    --number-7: #840084;
    --number-8: #848484;
    --number-9: #000000;

    --clicked-mine: #c9525e;
    --correct-mine: #63a387;
}

[data-theme="light"] {}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--bg);
}

#root {
    height: 100%;
}